/*
Thomas Chevillotte
2023
*/



/* BODY */
body {
    margin: 0;
    background-color: black;
    max-width: 100% !important;
    width: 100% !important;
    overflow:hidden !important;
}



    /* WRAPPER */
.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}



    /* TEXT */
@keyframes loadingt {
    0% {opacity: 0;}
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.text {
    animation: loadingt 5s; /* 3s*/
}
@keyframes loading {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
h1 {
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 5vh;
    margin-block-start: 0;
    margin-block-end: 0;
    user-select: none;
    animation : loading 3s;
}
a {
    font-weight: 600;
}
a:link, a:visited, a:active { 
    color:white; 
    text-decoration:none;
}
span{
    display:block;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: white;
    font-size: 3vh;
    text-align: center;
    user-select: none;
}
p{
  display:inline-block;
  height:1.5em;
  overflow:hidden;
  font-size: 3vh;
  position:relative;
}
.text span{
  animation: flip 32s infinite;
  animation-delay: 3s;
  transition:.5s;
}
@keyframes flip{
    0%{transform:translateY(0)}
    10%{transform:translateY(0)}
    16.25%{transform:translateY(-100%)}
    26.25%{transform:translateY(-100%)}
    32.5%{transform:translateY(-200%)}
    42.5%{transform:translateY(-200%)}
    48.75%{transform:translateY(-300%)}
    58.75%{transform:translateY(-300%)}
    65%{transform:translateY(-400%)}
    75%{transform:translateY(-400%)}
    81.25%{transform:translateY(-500%)}
    91.25%{transform:translateY(-500%)}
    100%{transform:translateY(0)}
}



    /* MEDIA QUERIES */
@media screen and (max-width: 767px) {  /* PHONE */ 
    body {
        margin: 0;
        background-color: black;
        max-width: 100% !important;
        width: 100% !important;
        overflow:scroll !important;
    }
    p {
        width: 90%;
        height:2.5em;
    }
    span {
        height:3em;
        font-size: 2.5vh;
    }
}

@media screen and (min-width: 767px) and (max-width: 1023px) {  /* TABLET */
    body {
        margin: 0;
        background-color: black;
        max-width: 100% !important;
        width: 100% !important;
        overflow:scroll !important;
    }
    p {
        width: 90%;
        height:2.5em;
    }
    span {
        height:3em;
        font-size: 2.5vh;
    }
}
